*{
    margin:0;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 72px;
    font-weight: bolder;
}

.colorarea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:1em;
}

#sliderarea {
    display: grid;
    grid-template-columns: repeat(4, minmax(min(100px, 100%), 1fr));
    grid-template-rows: 50px 150px 150px 50px;
    grid-template-areas: 
    ". top-1 top-2 ."
    "left-1 center center right-1"
    "left-2 center center right-2"
    ". bottom-1 bottom-2 .";
}

.sliderinput:nth-child(n+5) .slider {
    width: 120px;
    height:15px;
    appearance: none;
    background: lightblue;
    border-radius: 10px 50px 20px 62px;
    transition:opacity 0.5s;
}

.sliderinput:nth-child(-n+4) .slider {
    width:110px;
    height:15px;
    appearance: none;
    background: lightblue;
    border-radius: 10px 50px 20px 62px;
    transition:opacity 0.5s;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width:20px;
    background: black;
    cursor: pointer;
    border-radius: 10px 50px 20px 62px;
}

#outside{
    display: flex;
    border:5px solid gray;
    grid-area: center;
    justify-content: center;
}

#picture{
    height: 100%;
    width: 100%;
    background: linear-gradient(0.3turn, pink, #30D9C5);
}

.sliderinput {
    display: flex;	
}
.sliderinput:nth-child(5) span, .sliderinput:nth-child(6) span, .sliderinput:nth-child(7) span, .sliderinput:nth-child(8) span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.sliderinput:nth-child(5) span {
    top: -40px;
    position: relative;
}

.sliderinput:nth-child(8) span {
    top: -40px;
    position: relative;
}

.sliderinput:nth-child(1) {
      grid-area:top-1 ;
      justify-content: flex-start;
      align-items: flex-end;
}
.sliderinput:nth-child(2) {
    grid-area: top-2;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.sliderinput:nth-child(3) {
      grid-area:bottom-2 ;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: row-reverse;
}
.sliderinput:nth-child(4) {
    grid-area: bottom-1;
    justify-content: flex-start;
    align-items: flex-start;
}

.sliderinput:nth-child(5) {
      grid-area: center;
      transform: rotate(90deg);
      left: -100px;
      top:0px;
      position: relative;
      height:100px;
    width:100px;
}

.sliderinput:nth-child(8) {
      grid-area: center;
      transform: rotate(90deg);
      left: -100px;
      top: 195px;
      position: relative;
      height:100px;
    width:100px;
}

.sliderinput:nth-child(6) {
      grid-area:right-1;
      transform: rotate(90deg);
      justify-content: flex-start;
      align-items: flex-end;
      height:100px;
    width:100px;
}
.sliderinput:nth-child(7) {
      grid-area:right-2;
      transform: rotate(90deg);
      top: 50px;
       position: relative;
    align-items: flex-end;
    height:100px;
    width:100px;
}

.sliderinput:nth-child(7), .sliderinput:nth-child(2), .sliderinput:nth-child(3), .sliderinput:nth-child(8){
    direction: rtl;
}

#copybutton_1 {
    width:70px;
    height: 70px;
    background: pink;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 360px;
    font-family: 'Lobster', cursive;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
}

.footer {
    background: lightblue;
    text-align: center;
    font-size: 12px;
}

.logo_head {
    width: 8em;
    height: 2em;
    background: pink;;
    position: fixed;
    top: 2em;
    right: -1em;
    font-size: 12px;
    transform: rotateZ(45deg);
    border: 3px solid gray;
}

.logo_head a, a {
    text-decoration: none;
}

#samplearea {
    display: grid;
    grid-template-columns: repeat(auto-fit, calc(100vw/8));
    width: 100vw;
    grid-template-rows: repeat(auto-fit,calc(100vh/5));
}
#mainlogo{
    position: relative;
}
#mainlogo img{
    position:absolute;
    right: -50px;
    top: 45px;
}
#sampletext{
    margin-top:5em;
    font-family: 'Lobster', cursive;
}
.sample {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.newchild {
    width:70%;
    height:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}

@media screen and (max-width:480px){
    .sliderinput:nth-child(-n+4) .slider {
        width:80px;
    }
  
    #samplearea {
        grid-template-rows: repeat(auto-fit,calc(100vh/9));
    }
}